<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="phonegap-web-template.markchoo-try.info" version="1.0.0">
  <name>馬克測試APP</name>
  <description>這裡做APP的先期測試！</description>
  <author href="http://www.markchoo.com.tw/Home/Contact" email="markchoo@markchoo.com.tw">馬克褚</author>
  <!-- Configuration End -->
  <!--  allows access to any external resource. -->
  <access origin="*" />
  <allow-navigation href="*" />
  <content src="index.html" />
  <icon src="icon.png" />
  <!-- https://build.phonegap.com/current-support -->
  <preference name="phonegap-version" value="cli-6.5.0" />
  <preference name="permissions" value="none" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
  <plugin name="cordova-plugin-network-information" spec="~1.3.3" />
  <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
  <vs:toolsetVersion xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps">6.3.1</vs:toolsetVersion>
  <engine name="android" spec="5.2.1" />
  <engine name="ios" spec="4.2.0" />
  <engine name="windows" spec="4.4.2" />
  <preference name="windows-target-version" value="10.0" />
  <plugin name="cordova-plugin-geolocation" spec="~2.4.3" />
</widget>